* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wellcamContainer {
    width: 98%;
    height: 600px;
    margin-top: 5px;
    border-radius: 15px;
    background-image: url('./804a0d4d-35ca-470e-8b3f-f40d5d8350e4.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.middleDiv {
    height: 250px;
    text-align: center;
    padding-top: 200px;
}

.middleDiv h1 {
    font: italic 2.5rem "Fira Sans", serif;
    color: rgb(21, 78, 80);
}

#topPage {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#logoSection {
    width: 30%;
    height: 100px;
    padding-top: 12.5px;
    padding-left: 15px;
}

#logoSection h4 {
    color: #fff;
    font: italic 1.2rem "Fira Sans", serif;
}

.logoImg {
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#menuSection {
    width: 69%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filterSection {
    margin-bottom: px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#serch {
    margin-top: 75px;
    width: 500px;
    height: 200px;
    background-color: rgba(95, 158, 160, 0.79);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#searchTitle {
    padding-top: 15px;
    color: #fff;
    font: italic 1.5rem "Fira Sans", serif;
}

.inputSerch {
    width: 45%;
}

#serchForm {
    margin-top: 15px;
    gap: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.typeAndGender {
    height: 30px;
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.leftBotton {
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(132, 196, 198, 0.92);
    color: aliceblue;

}

.leftBotton:hover {
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(128, 200, 202);
    color: black;


}

.leftBotton-click {
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); */
    background-color: rgba(128, 199, 202, 0.546);
    color: aliceblue;

}


.rightBotton {
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(132, 196, 198, 0.92);
    color: aliceblue;


}

.rightBotton:hover {
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(128, 200, 202);
    color: black;


}

.rightBotton-click {
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); */
    background-color: rgba(128, 199, 202, 0.546);
    color: aliceblue;

}

.slider-container {
    position: relative;
    width: 300px;
}

.range-slider {
    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(95, 158, 160, 0.452);
    border-radius: 5px;

}

.slider-track {
    position: absolute;
    height: 5px;
    background-color: rgba(132, 196, 198, 0.92);
    border-radius: 5px;
}

input[type="range"] {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    background: none;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    margin-top: -5px;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgba(132, 196, 198, 0.92);
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
}

.range-values {
    color: #fff;
    margin-top: 5px;
    font-weight: bold;
}

#suButton {
    margin-top: 10px;
    width: 33%;
    height: 30px;
    background-color: rgba(132, 196, 198, 0.92);
    color: #fff;
    /* border: none; */
    border-radius: 5px;
}

#suButton:hover {
    margin-top: 10px;
    width: 33%;
    height: 30px;
    background-color: rgba(132, 196, 198, 0.92);
    color: black;
    /* border: none; */
    border-radius: 5px;
}

#forYouSection {
    width: 98%;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgba(95, 153, 174, 0.505);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgba(95, 158, 160, 0.5); */
}

#forYouTitle {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* background-color: rgba(95, 158, 160, 0.79); */
    height: 75px;
    padding-top: 22.5px;
}

#forYouTitle h2 {
    text-align: center;
    color: #faf8f8;

}

#forYou {
    padding-top: 50px;
    width: 98%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 15px; */
    padding: 15px;
    background-color: rgba(252, 252, 252, 0.986);
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.forYouCard {
    margin: 15px;
    padding-top: 10px;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(250, 235, 215, 0.753);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.forYouCard:hover {
    margin: 5px;
    padding-top: 10px;
    width: 310px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 50ms;

}

.forYouImg {
    width: 280px;
    height: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardDetails {
    width: 95%;
    height: 150px;
}

.cardDetails h4 {
    width: 100%;
    text-align: center;
    height: 25px;
    margin-top: 40px;
    margin-bottom: -40px;
    font: italic 1.5rem "Fira Sans", serif;
}

.cardDetails h6 {
    margin-top: -50px;
}

.navBar {
    margin-top: 15px;
    margin-bottom: 0px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

.nav-item.active {
    background-color: rgba(95, 158, 160, 0.897);
}



body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#topPage {
    width: 100%;
    height: 50px;
    /* background-color: cadetblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logoSection {
    margin-top: 10px;
    width: 30%;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(95, 158, 160, 0.79);
}

#menuSection {
    margin-top: 10px;
    width: 69%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(95, 158, 160, 0.79);
}

.petCard {
    margin-top: 50px;
    width: 70%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(245, 236, 224);
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    border: 2px solid black;
}

#cardImg {
    margin-top: 50px;
    width: 70%;
    height: 250px;
    border-radius: 15px;
}

.deatailsPet {
    margin-top: 30px;
    width: 70%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#titlePet {
    width: 100%;
    text-align: center;
}

#titlePet h2 {
    font: italic 2rem "Fira Sans", serif;
}

#adoptionAplication {
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 30px;
    width: 90%;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(95, 158, 160, 0.18);
}

#adoptSlogen {
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(95, 158, 160, 0.79);
    text-align: center;
    color: white;
}

.cusInput {
    width: 45%;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(245, 236, 224, 0.562);
}

#iputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#adoptBotton {
    width: 50%;
    height: 25px;
    margin-top: 10px;
    background-color: rgba(132, 196, 198, 0.92);
    border-radius: 5px;
    color: #fff;
}

#adoptBotton:hover {
    width: 50%;
    height: 25px;
    margin-top: 10px;
    background-color: rgb(132, 196, 198);
    border-radius: 5px;
    color: black;
}

.thankYouCard {
    width: 80%;
    height: 200px;
    text-align: center;
    background-color: rgba(95, 158, 160, 0.815);
    border-radius: 15px;
    border: 1px solid black;
}

.thankYouCard p {
    margin-top: 15px;
    margin-bottom: 30px;
}

.thankYouCard button {
    margin-top: 70px;
    height: 25px;
    width: 150px;

}